# Default ignored files
*.class
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\atill\IdeaProjects\PAD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
