html {
    scroll-behavior: smooth;
}

body {
    background-color: beige;
}

#Header {
    color: black;
    text-align: center;
    background-color: beige;
    border-style: dashed dashed double double;
}

.About {
    margin-top: -13px;
}

.Components {
    margin-top: -13px;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

div > div {
  padding: 10px;
  background-color: #ccc;
}